*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
body{
  background: #EADEDE;
}

.header {
	height : 100px;
	width : 100%;
	background-color:#6E3CBC;
  margin: 0px 5px;
  position: fixed;
  
}
.header h1 {
  display : inline-block;
	float : left;
  padding: 15px 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
  margin: 20px;
}

.nav-items{
  float: right;
}
.header ul {
    margin: 20px;
	float : right;
}

.header ul li {
	padding: 24px;
	display : inline-block;

}
.header ul li a {
	color: #fff;
}

.header ul li a:hover{
	background-color : #E2C2B9;
  transform: translateX(0.15em);
}

/*----------------CONTENT--------------*/

.Content {
    width: 100%;
    background: #EADEDE;
    padding: 60px 0;
    font-family: 'open sans', sans-serif;
  }
  
  .Content h1 {
    text-align: center;
    color: #3E065F;
    font-size: 40px;
    padding-top: 70px;
  }
  
  .border {
    width: 100px;
    height: 5px;
    background: #6E7582;
    margin: 40px auto;
  }
  
  .video{
    display: grid;
    margin: 10px 100px;
    
  }
  .video .box-video {
      width: 1000px;
      margin: 30px auto;
      padding: 20px 50px;
      border-radius: 10px;
      background: #664E88;
      justify-content: center; 
      display: grid;
  }
  
  .box-video iframe{
    padding: 10px ;
  }

  /*-----------------------------SKILL--------------------------*/
.skill-section {
  width: 100%;
  padding: 40px 0;
  font-size: 15px;
  background: #EADEDE;
}

.skill-inner {
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
}

.skill-section h1 {
  text-align: center;
  color: #3E065F;
  font-size: 40px;
}

.border {
  width: 100px;
  height: 5px;
  background: #6E7582;
  margin: 40px auto;
}


.skill-section-row {
  display: flex;
  flex-wrap: wrap;
}

.skill-section-col {
  flex: 100%;
}

#skill {
  list-style: none;
}
.skill-box>.skill-section-row {
  padding: 30px 30px;
  background-color: #664E88;
  border-radius: 15px;
}
      
#skill li {
  background: rgb(255, 255, 255);
  height: 10px;
  margin-top: 40px;
  margin-bottom: 70px;
  border-radius: 5px;
  border: 1px solid #2300cc;
  color: white;
}

#skill li em {
  position: relative;
  top: -35px;
}

.expand {
  height: 6px;
  background-color: #6E3CBC;
  margin: 3px 0;
  position: absolute;
  border-radius: 5px;
  animation: linear 3s;
}

@keyframes progress {
  0% {
    width: 0;
  }

  100% {
    width: 80%
  }
}

/*-----------------FOOTER-----------------*/
.footer-content{
  background: #4C3F91;
  width: 100%;
  height: 150px;
  margin: 5px;
}
.footer-content h2{
  padding: 20px 0px 10px 0px;
  text-align: center;
  font-size: 20px;
  color: white;
}
 .footer-content p {
   text-align: center;
   color: white;
 }

 .socials{
   display: flex;
   align-items: center;
   text-decoration: none;
   padding: 5px 590px;
 }

 .socials img{
   height: 35px;
   width: 35px;
   margin: 5px;
 }

 .ig:hover {
  opacity: .50;
}

.wa:hover {
  opacity: .50;
}

.linkedin:hover {
  opacity: .50;
}

.yt:hover {
  opacity: .50;
}